body {
    padding: 0;
    margin: 0;
    color: white;
    background: #1a1a1a;
    user-select: none;
}

* {
    font-family: comfortaa, arial;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    padding: 0;
    margin: 0;
}

ul>div {
    padding: 0;
    margin: 0;
}

button,
input,
select {
    outline: none;
}

.wrapper {
    min-height: 100%;
    height: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.height {
    height: 100%;
}

.input {
    padding: .5vw 1vw;
    font-size: 1.2vw;
    box-shadow: 0 0 .5vw black inset, .5vw 0 .5vw -.4vw #ff007b inset;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 0 .5vw .5vw 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 15vw;
    height: 2.1vw;
    border: .1vw solid rgba(0, 0, 0, .5);
    color: #ff007b;
    letter-spacing: .1vw;
    text-shadow: .1vw .1vw .1vw black;
    transition: .5s;
    border-left: .18vw solid #ff007b;
}

.input:hover {
    background: transparent;
    border: .0001vw solid transparent;
    box-shadow: 0 0 .5vw white inset, 0 0 .4vw .1vw #ff007b;
    border-radius: 2vw;
    color: rgba(255, 255, 255, .8);
    letter-spacing: .2vw;
    text-shadow: .1vw .1vw .1vw #ff007b;
    transform: scale(1.05, 1.05);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__block {
        padding: 10vw;
        width: 51vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 2vw;
        box-shadow: 0 0 1vw black, 0 0 1vw #ff007b inset;
        background: url("../img/bg-1.png") center/cover;
        gap: 2vw 0;
    }

    &__block-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 1vw;
    }


    &__block-input-num1 {}

    &__block-input-num2 {}

    &__block-output {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__block-output-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        width: 12vw;
        height: 3vw;
        padding: 1vw 2vw;
        font-size: 1.58vw;
        background: url("../img/2.png") center/cover;
        border: .2vw solid rgba(0, 0, 0, .5);
        box-shadow: 0 0 .5vw #ff007b inset,0 0 5vw rgba(0, 0, 0, .2) inset, 0 0 .1vw .1vw rgb(220, 150, 200), 0 0 .2vw .2vw #ff007b;
        border-radius: 1vw;
        color: #ff007b;
        letter-spacing: .1vw;
        text-shadow: .1vw .1vw .1vw rgba(255, 255, 255, .8);
        cursor: pointer;
        transition: .5s;
        z-index: 10;
    }

    &__block-output-btn:hover {
        font-size: 1.58vw;
        background: transparent;
        border: .0001vw solid transparent;
        box-shadow: 0 0 .5vw white inset, 0 0 .4vw .1vw #ff007b;
        border-radius: 2vw;
        color: rgba(255, 255, 255, .8);
        letter-spacing: .2vw;
        text-shadow: .1vw .1vw .1vw #ff007b;
        background: url("../img/2.png") center/cover;
        transform: scale(1.1, 1.1);
    }

    &__block-output-btn:active {
        transition: .12s ease;
        font-size: 1.4vw;
        width: 11.5vw;
        background: transparent;
        border: .0001vw solid #ff007b;
        box-shadow: 0 0 1vw .5vw black inset, 0 0 2vw .1vw #ff007b;
        border-radius: 2vw;
        color: rgba(255, 255, 255, 0);
        background: url("../img/2.png") center/cover;
        letter-spacing: .08vw;
        text-shadow: 0 0 .1vw black, 0 0 .2vw #ff007b;
        transform: scale(.98, .98);
        animation: text 1s infinite;
    }

    @keyframes text {
        100%, 0% {
            text-shadow: 0 0 .1vw black, 0 0 .2vw #ff007b;
        }
        5% {
            text-shadow: -.2vw 0 .1vw #ff007b, .1vw 0 .2vw black;
        }
        20% {
            text-shadow: .2vw .1vw .1vw black, -.1vw .1vw .2vw #ff007b;
        }
        40% {
            text-shadow: -.1vw 0 .1vw #ff007b, .1vw 0 .2vw black;
        }
        50% {
            text-shadow: .1vw .1vw .1vw black, -.1vw .1vw .2vw #ff007b;
        }
        70% {
            text-shadow: -.2vw 0 .1vw #ff007b, .1vw 0 .2vw black;
        }
        75% {
            text-shadow: .2vw .1vw .1vw black, -.1vw .1vw .2vw #ff007b;
        }
        85% {
            text-shadow: -.2vw 0 .1vw #ff007b, .1vw 0 .2vw black;
        }
    }

    &__block-output-num {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -2vw 0 0 0;
        font-size: 1vw;
        text-shadow: .1vw .1vw .1vw rgba(255, 255, 255, .5), 0 0 .5vw rgba(255, 255, 255, .5);
        color: black;
        letter-spacing: .1vw;
        opacity: 0;
        transition: 1s;
    }
}

.hover-output-num {
    font-size: 2vw;
    opacity: 1;
    margin: 2vw 0 0 0;
}

.click-output-op {
    transition: .2s;
    opacity: 0;
}

@media (width <= 768px) {
    .content__block {
        transform: scale(1.5, 1.5);
        padding: 20vw 0;
        gap: 5vw 0;
    }

    .content__block-input {
        gap: 3vw 0;
        flex-direction: column;
    }

    .content__block-output-num {
        margin: -2vw 0 0 0;
        font-size: 1vw;
        text-shadow: .1vw .1vw .1vw rgba(255, 255, 255, .5), 0 0 .5vw rgba(255, 255, 255, .5);
        color: black;
    }

    .input {
        transform: scale(1.8, 1.8);
        width: 20vw;
        padding: .85vw 1vw;
    }

    .hover-output-num {
        font-size: 4vw;
        opacity: 1;
        margin: 3vw 0 0 0;
    }

    .input:hover {
        transform: scale(1.95, 1.95);
    }

    .content__block-output-btn {
        transform: scale(1.8, 1.8);
    }

    .content__block-output-btn:hover {
        transform: scale(1.9, 1.9);
    }

    .content__block-output-btn:active {
        transform: scale(1.7, 1.7);
    }
    
    .click-output-op {
        transition: .2s;
        opacity: 0;
    }
}

@media (width <= 768px) {
    .input {
        transform: scale(1.8, 1.8);
        width: 21vw;
        padding: 1.05vw 1.05vw;
        font-size: 1.4vw;
    }

    .content__block-input {
        gap: 3.2vw 0;
    }

    .content__block {
        gap: 5.2vw 0;
    }
}